*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color:aqua;
}

.containar{
        width: 450px;
        height: 450px;
        background-color: white;
        margin: auto;
        margin-top: 200px;
        /* border: 1px solid black; */
        border-radius: 20px;
}


.title {
    /* text-align: center; */
    margin-left: 160px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-top: 70px;
    color:black;
}
.box {
    height: 45px;
    width: 350px;
    padding-left: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    /* border: none; */
}

.forgot {
    color: rgb(15, 15, 15);
    text-decoration: none;
    margin-left: 47px;
    font-size: 25px;
    /* padding-top: 40px; */
}
.btn {
    /* height: 25px;
    width: 70px; */
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
    background-color:	#7FFFD4 ;
    border: none;
    border-radius: 10px;
    margin-top:20px;
    margin-left: 160px;
    font-weight: bold;
    font-size: 20px;
}
.ss{
    color: black;
}