*{
    margin:0;
    padding:0;
}
.welcome {
    background-color:yellow;
}


.box {

    background-color: black;
    height:500px;
    width:200px;
    color: wheat;
}
.home {

}
.service {
    color:wheat;
    margin-top: 0.5cm;
}

/* .log {
    font-size: 15px;
    font-family:Arial, sans-serif;
    color:black;
    background-color: #DAA520;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-left: 860px;
} */